body{
    background-color: black;
}
.container{
  margin-top: 30px;
  margin-left: 70px;
  align-items: center;
  border-radius: 20px;
  height: 600px;
  position: fixed;
  width: 200px;
  background-color: #393534; 
}
.img{
  margin-top: 30px; 
  margin-left: 40px;
}
.tony{
  margin-top: 40px;
  margin-left: 500px;
  margin-right: 20px; 
}
.heading{
   color: white;
   text-align: center;

}
.group1{
  margin-left:15px;
  background-color: black;
}
.group2{
  margin-top: 7px;
  margin-left:15px;
  background-color: black;
}
.group3{
  margin-top: 10px;
  margin-left:15px;
  background-color: black;
}
.one{
  margin-left:15px;
  margin-top: 4px;
  text-align: center;
}
.container_1{
  
    margin-left: 210px;
    border-radius: 20px;
    align-items: center;
    position: fixed;
    height: 350px;
    width: 950px;
    background-color:#393534;
}
.box{
  margin-top: 360px;
  margin-left: 210px;
  position: fixed;
  align-items: center;
  border-radius: 25px;
  height: 230px;
  width: 950px;
  background-color:#393534;
}
